#pagecontainer{
	width: 80%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: auto;
	background-color: #333333
}

#body{
	margin:auto;
	align: center;
}

#header{
	padding: 0px 0px 50px 0px;
}

#productpage{
	align-content: center;
	padding: 20px 20px 20px 20px;
}

button{
	width:430px;
	height:100px;
	font-size:25px;
	border: none;
	background-color:#CFB991;
	cursor: pointer;
	opacity: 1;
	transition: 0.2s;
	border-radius: 8px;
}

button:hover{opacity: 0.8}

#image1,#image2,#image3,#image4{
	width: 700px;
	padding: 20px 20px 20px 20px;
	image-resolution: 100px;
}

#image1,#image3{
	float:right;
}

#button1,#button3,#button5,#button7{
	float: right;
}

#button1,#button2,#button3,#button4,#button5,#button6,#button7,#button8{
	padding: 20px 50px 20px 50px;
}

#button9{
	text-align:center;
	padding: 20px 50px 50px 50px;
	font-size: 150px;
}

.footer{
	margin: 20px;
	text-align: center;
	padding: 0px 0px 40px 0px;
	color: white;
}

header {
    width: 100%;
    height: 8%;
    background-color: #cfb991;
    box-shadow: 0 8px 6px -7px black;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.strip {
    background-color: #cfb991;
    height:25px;
}


.main_strip {
    background-color: #000000;
    color: #ffffff;    
    padding: 10px;
}
.main_strip .center{
    width: 80%;
    display: table;
    margin: 0 auto;
}
.main_strip .title_main {
    font-family: "Open Sans", "Open Sans",Sans-serif"";
    display: table-cell;
    vertical-align: middle;
    padding-right: 600px;
    
}
.main_strip img {
    width: 150px;
    float: left;
}
.tabs {
    background-color: #ffffff;
    height: 30px;
}
.tabs .center{
    width: 80%;
    display: table;
    margin: 0 auto;
}
.tabs .center a {
    width: 200px;
    
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    transition: all 0.2s linear;
}

.tabs .center a:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}

.paragraph{
	color:white;
	margin:auto;
	padding:20px;
	text-align: center;
}
.bottom_strip {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #cfb991;
	color: #0000000;
	
	
	
}
footer {
	background-color: #000000;
	padding-top: 60px;
	padding-bottom: 60PX;
}
